NODE_ENV=development
PORT=3007
NOTIFICATION_PROVIDER_MODE=disabled
NOTIFICATION_PROVIDER_TIMEOUT_MS=5000
NOTIFICATION_WORKLOAD_IDENTITY_MODE=local-secret
NOTIFICATION_IDENTITY_INTERNAL_SERVICE_TOKEN=
WORKLOAD_ISSUER_URL=
WORKLOAD_JWKS_URL=
WORKLOAD_AUDIENCE=hid-notification-api
IDENTITY_CALLER_SUBJECT=
AWS_REGION=
SES_FROM_ADDRESS=
TERMII_BASE_URL=
TERMII_API_KEY=
TERMII_SENDER_ID=
TERMII_CHANNEL=generic
META_GRAPH_BASE_URL=https://graph.facebook.com
META_GRAPH_API_VERSION=v25.0
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_OTP_TEMPLATE_NAME=
META_OTP_TEMPLATE_LANGUAGE=en_US
INFOBIP_BASE_URL=
INFOBIP_API_KEY=
INFOBIP_EMAIL_FROM=
INFOBIP_SMS_SENDER=
INFOBIP_WHATSAPP_SENDER=
INFOBIP_WHATSAPP_OTP_TEMPLATE_ID=
